# Female Labor Force Across the Globe Analysis

Data source: https://www.kaggle.com/datasets/ankanhore545/female-labour-forceby-age-across-the-globe

Analysis started August 10, 2022

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
# need to read data in as a pandas dataframe

df = pd.read_csv('./female-labor-force-by-age.csv', sep=';')
df.shape # gives dimensions to the data
df.head()

,Entity,Code,Year,10-year age bands: 15-24,10-year age bands: 25-34,10-year age bands: 35-44,10-year age bands: 45-54,10-year age bands: 55-64,10-year age bands: 65+
0,Afghanistan,AFG,1990,180160,138376,109704,56359,22076,6834
1,Afghanistan,AFG,1991,190672,144801,113183,60629,23263,7247
2,Afghanistan,AFG,1992,204419,153802,118021,66237,25009,7802
3,Afghanistan,AFG,1993,219225,163689,123168,72263,27052,8454
4,Afghanistan,AFG,1994,233176,173177,"128034,00000000000",77759,29132,9136